<form class="form-signin w-100 m-auto" (ngSubmit)="login()">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <input
    type="email"
    class="form-control"
    [(ngModel)]="userEmail"
    name="userEmail"
    placeholder="name@example.com"
    required
  />

  <input
    type="password"
    class="form-control"
    [(ngModel)]="userPassword"
    name="userPassword"
    placeholder="Password"
    required
  />

  <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
</form>
